PORT=5000
MONGO_URI=mongodb+srv://<db_username>:<qNPWs5FjUGuKSw4J>@pbxcom-cluster.ruznmpa.mongodb.net/?appName=pbxcom-cluster
JWT_SECRET=64e6bcd5f3aa51d7cd825c7383423264410887fb9333914a394eea9701e258d0
CLIENT_URL=http://localhost:5173

ADMIN_NAME=PBxcom
ADMIN_EMAIL=info@pbxcom.fr
ADMIN_PASSWORD=Pbxcom123
ADMIN_COMPANY=PBxcom

SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
EMAIL_PROVIDER=gmail
SMTP_USER=mouadelharch@pbxcom.fr
SMTP_PASS="PassMouad@2007"
EMAIL_FROM="PBxcom Support <mouadelharch@pbxcom.fr>"
